/*Fragment*/
.interv{
    position: absolute;
/*    display: inline-block;*/
    float: left;
    
    background-color: #00f;
    height: 100%;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: aqua;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    opacity: 0.3;
}
.interv.hover,.interv:hover{
    opacity: 0.5;
    cursor: move;
    z-index: 10;
}
.cursorOn{
    background: #f00 !important;
    border-color: #000 !important;
}
.playing{
    background: #0f0 !important;
    border-color: #000 !important;
}
.updatedRow{
    background: green !important;
}
.editButNotSentRow{
    background: orange;
}
