/*Стили*/
.editGroupButtons{
    position:fixed;
    display: inline-block;
    height: 1.5em;
    right: 5px;
}
#interviewChooser{
    margin: 0 auto;
    border: 2px solid gray;
    text-align: center;
}
.interviewLink:hover{
        background: #afa;
}
.interviewLink{
    display: block;
    margin:0 auto;
    height: 1.5em;
}
#iControl{
    position: absolute;
/*    top: -26px;*/
    bottom: 15px;
    opacity: 1 !important;
    border: 2px solid; 

}
#inputMoveStep{
    width: 50px;
}

#resetform{
    position: absolute;
    width: 99%;
    height: 99%;
    border: green 2px solid;
    background: rgba(255,255,255,0.9);
    display: block;
    top: 0px;
    left:0px;
}
#fileInput, #progressBar{
    position: relative;
    margin: 25% auto;
    font-size: 20px;
    display: block;
}

#buttonPlayAndMark, #buttonPlay{
    width: 40px;
}
.wrapper{
    overflow:auto;
    width: 100%;
    min-height: 6em;
    max-height: 40%;
    margin:1m auto;
    padding-bottom: 1em;
    position: relative;
    
}
.timeline{
    background: #aaa;
/*    min-width: auto;*/
    height: 2em;
/*    width: max-content;*/
}
#bigwrapper{
    width: 100%;
/*    clear: both;*/
/*    display: table-row;*/
/*    padding-left: 30px;*/
}

.wrapperCursor{
    display: block;
    min-height: fit-content;
    position: relative;
    width: calc(100% - 60px);
    float: left;
/*    overflow-x: scroll;*/
}
.milestone{
    border-left: 0px rgba(0,0,0,100) dashed;
    color:  black;
    float:  left;
    height: 100%;
    -moz-user-select:   none;
    -khtml-user-select: none;
    user-select: none; 
    font-family: monospace;
    font-size: 9pt;
    overflow: hidden;
}
.milestone2{
    background: #ccc;
}

.sequence{
    width:fit-content;
    position: relative;
    opacity: 0.8;
    max-height: 40%;
}
.choosen{
    background: #090;
}
#cursorPlay,.cursor{
    background: green;
    height: 100%;
    width:1px;
    position: absolute;
/*    z-index: 1;*/
/*    top:50%;*/
}
#cursorPlay{
    background:none;
    width: 1px;
    border-left: 2px solid #f00; 
    padding: 0px;
/*    border: none;*/
}
html{
    overflow: hidden;
}
#descr{
    overflow-y:scroll;
    height: 400px;
    clear: both;
/*  background-color: #fcf;*/
}
.textField{
    background-color:lightgreen;
}

.ivlDescr{
    display: block;
    margin: 0 auto;
    display: table-row;
}
.textDescr:focus{
/*    background: #afa;*/
    border: dotted 4px #0f0;
}
.ivlDescr.hover,.ivlDescr:hover{
    background: #ded;
}
.textDescr{
    padding: 5px;
    margin: 0px;
    font-size: 12pt;
    font-family: monospace;
    border: 1px solid #ccc;
    display: table-cell;
/*    float: right;*/
    min-width: 100px;
}

.timeField{
    font-family: monospace;   
    width: 100px;
    display: table-cell;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0 5px;
}
#mouseCursorTimeDisplay, #playCursorDisplay {
    font-family: monospace;
    font-size: 16pt;
    margin: 0;
    padding: 2px;
    width: fit-content;
    font-weight: 1000;
    display: inline-block;
}
#mouseCursorTimeDisplay{
    color: green;
} 
#playCursorDisplay{
    color: red;
}
.hidden {
    display: none;
}
